// файл с глобальными стилями только для селекторов тегов

// ! in processing...

a, a:link, a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--color-text)
}

button {
    border: none;
}

body::-webkit-scrollbar {
    display: none;
}

svg {
    background: transparent;
    color: var(--color-text);
    background-color: var(--color-background);
}

body, html {
    height: 100%;
    margin: 0;
}
  
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

// input {
//     all: unset;
// }

