// файл с утилитами; повторяющиеся стили для классов, которые можно использовать в компонентах

.container {
    display: flex;
    flex-direction: row;
    width: 1920px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

// ! todo -->