.film-card {
    width: 100%;
    background-color: var(--color-background);

    &__image {
        width: 100%;
        height: auto;
    }

    &__title {
        @include fluid-text(24, 16);
        @include font('Arial', 700, 1.2);
        color: var(--color-text);
        margin-block: var(--indent-minimum) var(--indent-small);
        text-align: center;

        @include mobile-small {
            @include fluid-text(14, 14);
        }
    }

    &__info {
        display: flex;
        justify-content: center;
        gap: 2px;
    }

    &__year, &__genre {
        @include fluid-text(16, 10);
        @include font('Arial', 400, 1);
        color: var(--color-gray);
    }
}
