.header {
    width: 100%;
    background-color: var(--color-background);

    &__inner {

    }
  
    &__row {
        max-width: 1720px;
        margin-inline: auto;
        justify-content: start;
        padding-inline: var(--indent-small);

        @include mobile {
            padding-inline: var(--indent-minimum);
        }
    }
  
    &__column {
      &--1 {
      }
  
      &--2 {
        display: flex;
        justify-content: center;
        padding-inline: var(--indent-small);
        width: 360px;

        @include tablet {
            width: 320px;
        }

        @include mobile {
            padding-inline: 0;
            width: 250px;
        }

        @include mobile-small {
            width: 180px;
        }
      }
  
      &--3 {
        flex-grow: 1;
        display: flex;
        flex-direction: row !important;
        justify-content: end;
        align-items: center;
        gap: var(--indent-small);
        @include mobile {
            gap: var(--indent-minimum);
        }
      }
    }
  
    &__link--image {
    }
  
    &__logo {
        transition: var(--transition-speed);

        &:hover {
            transform: scale(var(--scale-size));
        }

        @include mobile-small {
            width: 70px;
            height: auto;
        }
    }
  
    &__navigation {
        display: flex;

      .header__list--navigation {
        display: flex;
        gap: var(--indent-small);
        width: 100%;
        justify-content: space-around;

        @include mobile {
            gap: var(--indent-minimum);
        }

        .header__list-item {
            @include fluid-text(18, 10);
            @include font("Arial", 700, 1);
            color: var(--color-text);

            transition: var(--transition-speed);

            &:hover {
                transform: scale(var(--scale-size));
            }

          .header__link {

          }
        }
      }
    }
  
    &__tools {
        display: flex;
        align-items: center;

      .header__list--tools {
        width: 135px;
        display: flex;
        justify-content: space-between;

        @include mobile {
            display: none;
        }

        .header__button--search, .header__button--theme, .header__button--language {
            background-color: transparent;
            width: 24px;
            height: 24px;

            transition: var(--transition-speed);

            &:hover {
                transform: scale(1.2);
            }
        }

        .header__button--search {

        }
  
        .header__button--theme {
            
        }
  
        .header__button--language {
            position: relative;
            top: -1px;
            background-position: center center; 
            background-repeat: no-repeat;
            width: 25px;
            height: 27px;
            background-image: var(--header-language-image);

            svg {
                position: relative;
                top: 1px;
            }
        }
      }
    }
  
    &__image--account {
        background-color: var(--color-gray);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        cursor: pointer;
        transition: var(--transition-speed);

        &:hover {
            transform: scale(--scale-size);
        }

        @include mobile {
            display: none;
        }
    }
  
    &__button--enter {
        border-radius: var(--border-radius-small);
        width: 48px;
        background-color: var(--color-orange);
        color: var(--color-text);
        @include fluid-text(12, 12);
        @include font('Arial', 700, 1);
        padding-block: 10px;
        display: flex;
        justify-content: center; 
        align-items: center;
        transform: scale(1.4);
        transition: var(--transition-speed);

        &:hover {
            transform: scale(1.5);
        }

        @include mobile {
            display: none;
        }
    }
    
    &__button--burger {
        display: none;
        background: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30px;
        height: 25px;
        padding: 0;
        cursor: pointer;
        z-index: 10;

        @include mobile {
            display: flex;
        }

        .header__burger-line {
            width: 100%;
            height: 3px;
            background-color: var(--color-orange);
            border-radius: 5px;
            transition: transform var(--transition-speed), opacity var(--transition-speed);
        }
    }

    &__button--burger.open .header__burger-line:nth-child(1) {
        transform: rotate(45deg) translateY(15px);
        position: relative;
        left: 10px;
        top: -2px;
    }
      
    &__button--burger.open .header__burger-line:nth-child(2) {
        opacity: 0;
    }
      
    &__button--burger.open .header__burger-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
        position: relative;
        left: 5px;
        top: -2px;
    }
  }

[data-page="main"][data-burger="false"] .header {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient-wb);

    & svg {
        background-color: transparent !important;
    }
}

[data-burger="true"] body {
    overflow: hidden;
}