.search {
    background-color: var(--color-background);

		&__inner {
            flex-direction: column;
            padding-bottom: 100px; // ! temp
		}

		&__row {
            width: 100%;
            padding-inline: 200px;
            padding-top: var(--indent-small);
		}

		&__row--1 {
		}

		&__title {
            @include fluid-text(36, 28);
            @include font("Arial", 700, 1);
            color: var(--color-text);
		}

		&__row--2 {
            gap: var(--indent-minimum);
		}

		&__form {
            display: flex;
            width: 100%;
		}

		&__form-input {
            width: 100%;
            background-color: var(--color-black);
            @include fluid-text(16, 16);
            @include font("Arial", 500, 1);
            color: var(--color-lightgray);
            background-image: url('../../assets/icons/search.svg');
            background-repeat: no-repeat;
            padding: 20px 50px;
            background-position: 18px center;
            border-radius: var(--border-radius-small);

            &::placeholder {
                @include fluid-text(16, 16);
                @include font("Arial", 500, 1);
                color: var(--color-lightgray);
            }
		}

		&__button--filter {
            display: flex;
            gap: 10px;
            background-color: var(--color-black);
            padding: 20px var(--indent-minimum) 14px var(--indent-minimum);
            border-radius: var(--border-radius-small);

            span {
                @include fluid-text(16, 16);
                @include font("Arial", 500, 1);
                color: var(--color-white);
            }

            svg {
                background-color: transparent;
                position: relative;
                top: -5px;
            }
		}

		&__row--3 {
            
		}

		&__column {
		}

		&__column--1 {
            flex-direction: row !important;
            gap: var(--indent-minimum);
		}

		&__dropdown {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 250px;
            height: auto;
            background-color: var(--color-black);
            padding: 20px var(--indent-minimum);
            border-radius: var(--border-radius-small);

            span {
                @include fluid-text(16, 16);
                @include font("Arial", 500, 1);
                color: var(--color-white);
            }

            svg {
                background-color: transparent;
                position: relative;
                top: -5px;
            }

            &::marker {
                content: "";
                width: 0;
                height: 0;
            }
		}

		&__dropdown--sort {
            height: 290px;
		}

		&__dropdown-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            span {
                user-select: none;
            }

            svg {
                position: relative;
                top: 2px;
            }
		}

		&__dropdown-title--sort {

		}

		&__dropdown-interactive {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: var(--indent-minimum);
            height: auto;

            & input {
                width: 24px;
                height: 24px;
                background-color: var(--color-white);
                margin-right: 10px;

                &:checked {
                    width: 16px;
                    height: 16px;
                    border: 4px solid var(--color-white);
                    background-color: var(--color-gray);
                }

                &[type="radio"] {
                    border-radius: 50%;
                }

                &[type="checkbox"] {
                    border-radius: var(--border-radius-small);
                }
            }
		}

		&__dropdown-interactive--sort {
            
		}

		&__dropdown-element {
            display: flex;
            @include fluid-text(16, 16);
            @include font("Arial", 500, 1.5);
            color: var(--color-text);
            align-items: center;
            white-space: nowrap;
		}

		&__dropdown-element--sort {
            position: relative;

            svg {
                position: absolute;
                right: 0;
            }
		}

		&__dropdown-input {
		}

		&__dropdown-input--sort {
		}

		&__dropdown--genre {
            height: 350px;
		}

		&__dropdown-title--genre {
		}

		&__dropdown-element--genre {
		}

		&__dropdown-input--genre {
		}

		&__dropdown--country {
            height: 350px;
		}

		&__dropdown-title--country {
		}

		&__dropdown-interactive--genre, &__dropdown-interactive--country {
            overflow-y: scroll;

            /* Основной трек скроллбара */
            &::-webkit-scrollbar {
                width: 10px; /* Ширина скроллбара */
                height: 100px; /* Высота (но обычно для горизонтального скролла) */
                background: var(--color-black); /* Цвет фона */
            }

            /* Полностью скрываем ползунок */
            &::-webkit-scrollbar-thumb {
                background: var(--color-gray);
                border-radius: 5px;
            }

            /* Скрываем кнопки (вверх/вниз) */
            &::-webkit-scrollbar-button {
                display: none;
            }
		}

		&__dropdown-element--country {
		}

		&__dropdown-input--country {
		}

		&__dropdown--year {
            height: 185px;
		}

		&__dropdown-title--year {
		}

        // ! todo ---> + todo фикс дефолтного скроллбара

		&__dropdown-interactive--year {
            
		}

		&__dropdown-input--year {
		}

		&__dropdown-span-year {
		}

		&__dropdown-button--year {
		}

		&__column--2 {
		}

		&__button--clear {
            @include fluid-text(16, 16);
            @include font("Arial", 700, 1);
            color: var(--color-text);
            background-color: var(--color-orange);
            padding: 20px var(--indent-small);
            border-radius: var(--border-radius-small);
		}
}